@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Roboto:wght@400;700&display=swap');

.title-grid {
  border-radius: 20px;
  max-height: 6rem;  
  margin-bottom: 2rem;
}
.title {
  text-align: center;
  color:whitesmoke;
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: 'Mochiy Pop One';
  font-size: 700;
}

@media (min-width: 600px) {
  .title-grid {
    height: 4rem;
  }
}